html {
  height: 100%;
  container: html / inline-size;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(600px, auto) minmax(auto, 300px);
  grid-template-rows: auto 1fr;
  grid-template-areas: "top top" "left right";
}

@container html (width < 800px) {
  #menu {
    background-color: cyan !important;
  }
}

#sidebar {
  grid-area: right;
  background: #F00A;
  min-width: 200px;
}

#calendar {
  grid-area: left;
  background: #00FA;
  display: grid;
  grid-template-columns: auto repeat(7, 1fr) auto;
  grid-template-rows: max-content 1fr;
  overflow-y: auto;
}

#days {
  grid-area: 1 / 1 / 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  min-height: 3em;
}

#display {
  --firsts: 12;
  grid-area: 2 / 1 / -1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: repeat(calc(24 * var(--firsts)), minmax(calc(2em / var(--firsts)), auto));
}

#days_left {
  min-width: 3em;
}

#display>* {
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: subgrid;
}

#days>*:not(:first-child, :last-child) {
  overflow-x: hidden;
  text-align: center;
  padding-block: 1em;
  padding-inline: 0.3em;
}

#days> :nth-child(2n + 1) {
  background-color: #FFF1;
}

#display> :nth-child(2n) {
  background-image: repeating-linear-gradient(#0001, #0001 calc(100% / 24), #0000 calc(100% / 24), #0000 calc(100% / 12))
}

#display> :nth-child(2n + 1) {
  background-image: repeating-linear-gradient(#0000, #0000 calc(100% / 24), #FFF1 calc(100% / 24), #FFF1 calc(100% / 12))
}

#days_right {
  min-width: 3em;
}

#display_left {
  min-width: 3em;
  text-align: right;
}

#display_left>* {
  grid-row: span var(--firsts);
  padding-inline: 0.25em;
  padding-block: 0.1em;
}

#display_right {
  min-width: 3em;
}

#menu {
  grid-area: top;
  background: #0F0A;
  padding: 1em;
}